libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

load dataset

In [3]:
df= pd.read_csv("clean_data_after_eda.csv")
df.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,var_6m_price_off_peak_var,var_6m_price_peak_var,var_6m_price_mid_peak_var,var_6m_price_off_peak_fix,var_6m_price_peak_fix,var_6m_price_mid_peak_fix,var_6m_price_off_peak,var_6m_price_peak,var_6m_price_mid_peak,churn
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,0.000131,4.100838e-05,9.084737e-04,2.086294,99.530517,44.235794,2.086425,9.953056e+01,4.423670e+01,1
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,0.000003,1.217891e-03,0.000000e+00,0.009482,0.000000,0.000000,0.009485,1.217891e-03,0.000000e+00,0
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,0.000004,9.450150e-08,0.000000e+00,0.000000,0.000000,0.000000,0.000004,9.450150e-08,0.000000e+00,0
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,0.000003,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000003,0.000000e+00,0.000000e+00,0
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,0.000011,2.896760e-06,4.860000e-10,0.000000,0.000000,0.000000,0.000011,2.896760e-06,4.860000e-10,0

In [4]:
df.columns

Index(['id', 'channel_sales', 'cons_12m', 'cons_gas_12m', 'cons_last_month',
       'date_activ', 'date_end', 'date_modif_prod', 'date_renewal',
       'forecast_cons_12m', 'forecast_cons_year', 'forecast_discount_energy',
       'forecast_meter_rent_12m', 'forecast_price_energy_off_peak',
       'forecast_price_energy_peak', 'forecast_price_pow_off_peak', 'has_gas',
       'imp_cons', 'margin_gross_pow_ele', 'margin_net_pow_ele', 'nb_prod_act',
       'net_margin', 'num_years_antig', 'origin_up', 'pow_max',
       'var_year_price_off_peak_var', 'var_year_price_peak_var',
       'var_year_price_mid_peak_var', 'var_year_price_off_peak_fix',
       'var_year_price_peak_fix', 'var_year_price_mid_peak_fix',
       'var_year_price_off_peak', 'var_year_price_peak',
       'var_year_price_mid_peak', 'var_6m_price_off_peak_var',
       'var_6m_price_peak_var', 'var_6m_price_mid_peak_var',
       'var_6m_price_off_peak_fix', 'var_6m_price_peak_fix',
       'var_6m_price_mid_peak_fix', 'var_6m_price_off_peak',
       'var_6m_price_peak', 'var_6m_price_mid_peak', 'churn'],
      dtype='object')

feature engineering

In [5]:
# Remove ID because it does not help prediction
df = df.drop(columns=["id"])

df.head()

,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,forecast_cons_year,...,var_6m_price_off_peak_var,var_6m_price_peak_var,var_6m_price_mid_peak_var,var_6m_price_off_peak_fix,var_6m_price_peak_fix,var_6m_price_mid_peak_fix,var_6m_price_off_peak,var_6m_price_peak,var_6m_price_mid_peak,churn
0,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,0,...,0.000131,4.100838e-05,9.084737e-04,2.086294,99.530517,44.235794,2.086425,9.953056e+01,4.423670e+01,1
1,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,0,...,0.000003,1.217891e-03,0.000000e+00,0.009482,0.000000,0.000000,0.009485,1.217891e-03,0.000000e+00,0
2,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,0,...,0.000004,9.450150e-08,0.000000e+00,0.000000,0.000000,0.000000,0.000004,9.450150e-08,0.000000e+00,0
3,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,0,...,0.000003,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000003,0.000000e+00,0.000000e+00,0
4,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,526,...,0.000011,2.896760e-06,4.860000e-10,0.000000,0.000000,0.000000,0.000011,2.896760e-06,4.860000e-10,0

Create new features from existing columns

In [ ]:
# dates are most useful 
# convert date columns ; Required before extracting features.
df["date_activ"] = pd.to_datetime(df["date_activ"])
df["date_end"] = pd.to_datetime(df["date_end"])
df["date_renewal"] = pd.to_datetime(df["date_renewal"])
df["date_modif_prod"] = pd.to_datetime(df["date_modif_prod"])

print("Date conversion done")

Date conversion done

In [7]:
# create tenure features (Shows how long customer stayed.)
df["tenure_days"] = (df["date_end"] - df["date_activ"]).dt.days
df[["date_activ","date_end","tenure_days"]].head()

  date_activ   date_end  tenure_days
0 2013-06-15 2016-06-15         1096
1 2009-08-21 2016-08-30         2566
2 2010-04-16 2016-04-16         2192
3 2010-03-30 2016-03-30         2192
4 2010-01-13 2016-03-07         2245

In [8]:
#Extracting useful date features
df["activation_year"] = df["date_activ"].dt.year
df["activation_month"] = df["date_activ"].dt.month
df["renewal_year"] = df["date_renewal"].dt.year
df["renewal_month"] = df["date_renewal"].dt.month
df.head()

,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,forecast_cons_year,...,var_6m_price_mid_peak_fix,var_6m_price_off_peak,var_6m_price_peak,var_6m_price_mid_peak,churn,tenure_days,activation_year,activation_month,renewal_year,renewal_month
0,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,0,...,44.235794,2.086425,9.953056e+01,4.423670e+01,1,1096,2013,6,2015,6
1,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,0,...,0.000000,0.009485,1.217891e-03,0.000000e+00,0,2566,2009,8,2015,8
2,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,0,...,0.000000,0.000004,9.450150e-08,0.000000e+00,0,2192,2010,4,2015,4
3,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,0,...,0.000000,0.000003,0.000000e+00,0.000000e+00,0,2192,2010,3,2015,3
4,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,526,...,0.000000,0.000011,2.896760e-06,4.860000e-10,0,2245,2010,1,2015,3

Create better features by combining columns

In [10]:

# consupmtion features(Detects consumption drop. Consumption drop → high churn risk.)
# Consumption ratio
df["consumption_ratio"] = df["cons_last_month"] / df["cons_12m"]

# Consumption difference
df["consumption_difference"] = df["cons_12m"] - df["forecast_cons_12m"]

df.head()

,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,forecast_cons_year,...,var_6m_price_peak,var_6m_price_mid_peak,churn,tenure_days,activation_year,activation_month,renewal_year,renewal_month,consumption_ratio,consumption_difference
0,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,0,...,9.953056e+01,4.423670e+01,1,1096,2013,6,2015,6,NaN,0.00
1,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,0,...,1.217891e-03,0.000000e+00,0,2566,2009,8,2015,8,0.00000,4470.05
2,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,0,...,9.450150e-08,0.000000e+00,0,2192,2010,4,2015,4,0.00000,496.04
3,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,0,...,0.000000e+00,0.000000e+00,0,2192,2010,3,2015,3,0.00000,1343.96
4,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,526,...,2.896760e-06,4.860000e-10,0,2245,2010,1,2015,3,0.11887,3979.25

In [11]:
# Price sensitivity feature
# Estelle's requested feature
df["offpeak_price_change_dec_jan"] = df["var_year_price_off_peak"]

# Additional useful price features
df["offpeak_price_change_6m"] = df["var_6m_price_off_peak"]

df["price_difference_peak_offpeak"] = (
    df["forecast_price_energy_peak"] -
    df["forecast_price_energy_off_peak"]
)

df.head()

,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,forecast_cons_year,...,tenure_days,activation_year,activation_month,renewal_year,renewal_month,consumption_ratio,consumption_difference,offpeak_price_change_dec_jan,offpeak_price_change_6m,price_difference_peak_offpeak
0,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,0,...,1096,2013,6,2015,6,NaN,0.00,1.102846,2.086425,-0.016339
1,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,0,...,2566,2009,8,2015,8,0.00000,4470.05,0.006470,0.009485,-0.145711
2,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,0,...,2192,2010,4,2015,4,0.00000,496.04,0.007668,0.000004,-0.077895
3,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,0,...,2192,2010,3,2015,3,0.00000,1343.96,0.006470,0.000003,-0.146694
4,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,526,...,2245,2010,1,2015,3,0.11887,3979.25,0.005444,0.000011,-0.016885

 Customers churn when prices increase.

In [12]:
#profitability feature 
df["margin_ratio"] = (
    df["margin_net_pow_ele"] /
    df["margin_gross_pow_ele"]
)

df.head()

,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,forecast_cons_year,...,activation_year,activation_month,renewal_year,renewal_month,consumption_ratio,consumption_difference,offpeak_price_change_dec_jan,offpeak_price_change_6m,price_difference_peak_offpeak,margin_ratio
0,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,0,...,2013,6,2015,6,NaN,0.00,1.102846,2.086425,-0.016339,1.0
1,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,0,...,2009,8,2015,8,0.00000,4470.05,0.006470,0.009485,-0.145711,1.0
2,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,0,...,2010,4,2015,4,0.00000,496.04,0.007668,0.000004,-0.077895,1.0
3,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,0,...,2010,3,2015,3,0.00000,1343.96,0.006470,0.000003,-0.146694,1.0
4,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,526,...,2010,1,2015,3,0.11887,3979.25,0.005444,0.000011,-0.016885,1.0

Remove original columns after feature creation

In [13]:
#remove orginal date cols 
df = df.drop(columns=[
    "date_activ",
    "date_end",
    "date_modif_prod",
    "date_renewal"
])

df.head()

,channel_sales,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_cons_year,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_off_peak,forecast_price_energy_peak,...,activation_year,activation_month,renewal_year,renewal_month,consumption_ratio,consumption_difference,offpeak_price_change_dec_jan,offpeak_price_change_6m,price_difference_peak_offpeak,margin_ratio
0,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,0.00,0,0.0,1.78,0.114481,0.098142,...,2013,6,2015,6,NaN,0.00,1.102846,2.086425,-0.016339,1.0
1,MISSING,4660,0,0,189.95,0,0.0,16.27,0.145711,0.000000,...,2009,8,2015,8,0.00000,4470.05,0.006470,0.009485,-0.145711,1.0
2,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,47.96,0,0.0,38.72,0.165794,0.087899,...,2010,4,2015,4,0.00000,496.04,0.007668,0.000004,-0.077895,1.0
3,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,240.04,0,0.0,19.83,0.146694,0.000000,...,2010,3,2015,3,0.00000,1343.96,0.006470,0.000003,-0.146694,1.0
4,MISSING,4425,0,526,445.75,526,0.0,131.73,0.116900,0.100015,...,2010,1,2015,3,0.11887,3979.25,0.005444,0.000011,-0.016885,1.0

In [14]:
print("Final Shape:", df.shape)

df.info()

Final Shape: (14606, 50)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14606 entries, 0 to 14605
Data columns (total 50 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   channel_sales                   14606 non-null  object
 1   cons_12m                        14606 non-null  int64
 2   cons_gas_12m                    14606 non-null  int64
 3   cons_last_month                 14606 non-null  int64
 4   forecast_cons_12m               14606 non-null  float64
 5   forecast_cons_year              14606 non-null  int64
 6   forecast_discount_energy        14606 non-null  float64
 7   forecast_meter_rent_12m         14606 non-null  float64
 8   forecast_price_energy_off_peak  14606 non-null  float64
 9   forecast_price_energy_peak      14606 non-null  float64
 10  forecast_price_pow_off_peak     14606 non-null  float64
 11  has_gas                         14606 non-null  object
 12  imp_cons                        14606 non-null  float64
 13  margin_gross_pow_ele            14606 non-null  float64
 14  margin_net_pow_ele              14606 non-null  float64
 15  nb_prod_act                     14606 non-null  int64
 16  net_margin                      14606 non-null  float64
 17  num_years_antig                 14606 non-null  int64
 18  origin_up                       14606 non-null  object
 19  pow_max                         14606 non-null  float64
 20  var_year_price_off_peak_var     14606 non-null  float64
 21  var_year_price_peak_var         14606 non-null  float64
 22  var_year_price_mid_peak_var     14606 non-null  float64
 23  var_year_price_off_peak_fix     14606 non-null  float64
 24  var_year_price_peak_fix         14606 non-null  float64
 25  var_year_price_mid_peak_fix     14606 non-null  float64
 26  var_year_price_off_peak         14606 non-null  float64
 27  var_year_price_peak             14606 non-null  float64
 28  var_year_price_mid_peak         14606 non-null  float64
 29  var_6m_price_off_peak_var       14606 non-null  float64
 30  var_6m_price_peak_var           14606 non-null  float64
 31  var_6m_price_mid_peak_var       14606 non-null  float64
 32  var_6m_price_off_peak_fix       14606 non-null  float64
 33  var_6m_price_peak_fix           14606 non-null  float64
 34  var_6m_price_mid_peak_fix       14606 non-null  float64
 35  var_6m_price_off_peak           14606 non-null  float64
 36  var_6m_price_peak               14606 non-null  float64
 37  var_6m_price_mid_peak           14606 non-null  float64
 38  churn                           14606 non-null  int64
 39  tenure_days                     14606 non-null  int64
 40  activation_year                 14606 non-null  int32
 41  activation_month                14606 non-null  int32
 42  renewal_year                    14606 non-null  int32
 43  renewal_month                   14606 non-null  int32
 44  consumption_ratio               14489 non-null  float64
 45  consumption_difference          14606 non-null  float64
 46  offpeak_price_change_dec_jan    14606 non-null  float64
 47  offpeak_price_change_6m         14606 non-null  float64
 48  price_difference_peak_offpeak   14606 non-null  float64
 49  margin_ratio                    14449 non-null  float64
dtypes: float64(35), int32(4), int64(8), object(3)
memory usage: 5.3+ MB